html, body {
  margin: 0;
  padding: 0;
}

span {
  font-size: 3em;
  font-family: monospace;
}

li {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
}

#map {
  height: 83vh;
}

.container {
  margin: 10px;
  text-align: center;
}
